/* Everything */

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Default tags */

html{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background: none;
}

#data{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#healthBar{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	background: #ffffff33;
	padding: 8px;
	border-radius: 8px;
}

.health{
	padding: 0 2px;
	width: 30px;
	visibility: hidden;
}

#data h2{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

#affichageScore{
	display: flex;
	align-items: center;
}

#score{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	background: #ffffff33;
	padding: 8px 12px;
	border-radius: 8px;
}

.visible{
	visibility: visible;
}

h2, #score{
	color: #ffffff;
	margin-bottom: 15px;
}

/* Cartes */
.carte {
	background-color: transparent;
	perspective: 1000px;
	margin: 5px;
}

.double-face {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.face, .arriere {
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}

.face {
	background: #121212;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.face img{
	height: 80%;
}

.arriere {
	color: #fff;
	background: #121212;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
}

.arriere img{
	height: 50%;
}

.active {
	transform: rotateY(180deg);
}

.valid{
	background: #00ff00;
}

.gameOver-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000aa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameOver-box{
	background: #ffffff66;
	color: #ffffff;
	border-radius: 5px;
	padding : 20px 50px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 5px 5px #000000aa;
}

.reloadButton{
	padding: 10px;
	border: none;
	border-radius: 25px;
	color: #58267F;
	font-weight: bold;
	cursor: pointer;
}

.reloadButton:hover{
	transform: scale(1.2);
}

.reloadButton:active{
	transform: scale(1);
}

#gameOver{
	z-index: 1000;
	visibility: hidden;
}

.gameWin-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000aa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameWin-box{
	background: #ffffff66;
	color: #fff;
	border-radius: 5px;
	padding : 20px 50px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

#gameWin{
	z-index: 1000;
	visibility: hidden;
}